* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background: #eee;
	overflow: hidden;
        min-height: 100vh;
	background-image:
      -moz-linear-gradient(45deg, #ddd 25%, transparent 25%),
      -moz-linear-gradient(-45deg, #ddd 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #ddd 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ddd), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ddd), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ddd)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ddd));

       -moz-background-size:20px 20px;
            background-size:20px 20px;
    -webkit-background-size:20px 21px; /* override value for shitty webkit */

    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
}

#Frame {
	background: rgba(255,0,0,0.5);
	width: 10em;
	height: 20em;
	box-shadow: 0 .5em 1.5em rgba( 0, 0, 0,.25);
	-webkit-transition: 280ms ease-out all, 260ms ease-out transform;
			transition: 280ms ease-out all, 260ms ease-out transform;
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
}

#Frame iframe {
	background: #fff;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: .1em;
}

.fr-wrap {
	display: inline-block;
        margin: 1em;
}

#InlineControls {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	font-family: monospace;
	display: flex;
	width: 100%;
	flex: 1 100%;
}
	#InlineControls > * {
		flex: 1 100%;
	}

	input {
		padding: .5em 1em .5em 2em;
	}

.controls {
	background: #fff;
}

	.controls .sm-open {
	    margin-top: 0;
	    margin-left: -3.3em;
	    -webkit-transition: 180ms ease all;
	    		transition: 180ms ease all;
	    width: 2em;
	    text-align: center;
	}

	.controls .sm-close {
		float: right;
	}

		#Controls.s__active .sm-open,
		#Controls:target .sm-open {
			opacity: 0;
		}

	.controls textarea,
	.controls input[type="submit"] {
		font-family: monospace;
		padding: .75em .5em;
		border: 1px solid #ddd;
	}

	.controls header a {
		display: inline-block;
		background: yellow;
		padding: .5em;
		text-decoration: none;
	}


.controls-inline button,
.controls-inline input,
.controls-inline select {
	background: #fff;
	border: 0;
	padding: 1em 2em 1em 1.3em;
	border-radius: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	height: 3.5em;
	font-size: 16px;
}

select {
	border: 0;
	background: #fff;
	padding: .5em;
	width: 100%;
}

button,
input[type="submit"] {
	max-width: 2.5em;
}

.file-uploader {
	position: fixed;
	bottom: 4.1rem;
	top: .5rem;
	left: .5rem;
	right: .5rem;
	padding: .5rem;
	border: 0.4rem dashed;
	border-radius: 0;
	font-size: 3em;
	pointer-events: none;
	opacity: 0;
	text-align: center;
	padding: 1em;
}

	.file-uploader {
		font-family: sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.s__hover {
	}

	.s__hover .file-uploader {
		pointer-events: all;
		opacity: 1;
	}


	#Details {
		background: #eee;
		position: relative;
		overflow: hidden;
	}
		progress {
			background: cyan;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 0;
			animation: 10ms linear prgss;
			animation-fill-mode: both;
			opacity: .2;
			transition: 180ms ease all;
		}

		progress.s__invert {
			animation-name: prgss2 !important;
		}

		@-webkit-keyframes prgss {
			from {transform: translateX(0)}
			to   {transform: translateX(-100%)}
		}

		@-webkit-keyframes prgss2 {
			from {transform: translateX(100%)}
			to   {transform: translateX(0%)}
		}



	#Details select {
		background: transparent;
		position: relative;
		z-index: 1;
		-webkit-appearance: input;
		text-indent: 1em;;
	}

	#Favicon {
		position: absolute;
		top: 1.5em;
		left: 1em;
	}

	#Url {
		padding-left: 2.5em;
	}

	.s__is-paused progress {
		opacity: 0;
	}