* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background: #eee;
	overflow: hidden;
	background-image:
      -moz-linear-gradient(45deg, #ddd 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #ddd 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #ddd 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ddd), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ddd), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ddd)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ddd));

       -moz-background-size:20px 20px;
            background-size:20px 20px;
    -webkit-background-size:20px 21px; /* override value for shitty webkit */
    
    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
}

#Frame {
	background: rgba(255,0,0,0.5);
	width: 10em;
	height: 20em;
	top: 1em;
	left: 1em;
	box-shadow: 0 .5em 1.5em rgba( 0, 0, 0,.25);
	transition: 250ms ease all;
	transform-origin: 0 0;
	position: relative;
}

#Frame iframe {
	background: #fff;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 1px solid red;
}

.fr-wrap {
	
	display: inline-block;
}

#InlineControls {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: .5em;
	font-family: monospace;
}

.controls {
	background: #fff;
	position: fixed;
	top: 0;
	right: 0;
	width: 15em;
	padding: .5em;
	transition: 250ms ease all;
	transform: translateX(15em);
}

	.controls .sm-open {
	    margin-top: 0;
	    margin-left: -3.3em;
	    transition: 180ms ease all;
	    width: 2em;
	    text-align: center;
	}

	.controls .sm-close {
		float: right;
	}

	#Controls:target {
		transform: none;
	}

		#Controls:target .sm-open {
			opacity: 0;
		}

	.controls header {
		clear: both;
	}

	.controls label {
		font-family: verdana, sans-serif;
		font-size: .8rem;
		display: block;
		margin-bottom: .5em;
	}

	.controls textarea,
	.controls input {
		font-family: monospace;
		padding: .75em .5em;
		border: 1px solid #ddd;
	}

	.controls header a {
		display: inline-block;
		background: yellow;
		padding: .5em;
		text-decoration: none;
	}

	.controls > * {
		width: 100%;
		margin-bottom: .5em;
		font-size: 1rem;
	}

	.controls input[type="submit"] {
		background: #ccc;	
		border: 0;
		border-radius: 0;
		font-family: sans-serif;
		font-size: .9rem;
		text-transform: capitalize;
	}

.controls-inline button {
	background: none;
	border: none;
}